<!DOCTYPE html>
<html lang="{{ current_lang }}">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>{{ t('portal_request_title') }}</h1>

            <!-- Shows the name of the ssid already selected in the scan&connect process -->
            <p>{{ t('key_connecting_to') }}: <strong>{{ selected_ssid }}</strong></p>

            <!-- The form only requests to insert the password -->
            <form action="/connect" method="POST">
                <label for="password">{{ t('portal_request_password') }}</label>
    
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="••••••••" required>
                    <button type="button" id="togglePassword" class="eye-btn">
                        <img id="eyeIcon" src="{{ url_for('static', filename='eye_show.svg') }}" alt="{{ t('portal_request_show_password') }}">
                    </button>
                </div>
                
                <button type="submit">{{ t('portal_request_connect_btn') }}</button>
            </form>            
        </div>
        <script>
            const togglePassword = document.querySelector('#togglePassword');
            const passwordInput = document.querySelector('#password');
            const eyeIcon = document.querySelector('#eyeIcon');

            const iconShow = "{{ url_for('static', filename='eye_show.svg') }}";
            const iconHide = "{{ url_for('static', filename='eye_hide.svg') }}";

            togglePassword.addEventListener('click', function () {
                const isPassword = passwordInput.getAttribute('type') === 'password';
                passwordInput.setAttribute('type', isPassword ? 'text' : 'password');
                eyeIcon.setAttribute('src', isPassword ? iconHide : iconShow);
            });
        </script>
    </body>
</html>